<div class="jumbotron">
  <div class="card">
    <div class="card-header bg-light">
      <a class="btn btn-primary" routerLink='/createuser' role="button">Create User</a>
    </div>    
    <div class="card-body position-relative">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="bg-info">              
              <th>Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of GridRowData; index as i;">              
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.gender}}</td>
              <td>
                <a><img src="../../assets/edit.png" style="width: 30px;" [routerLink]="['/updateuser']"
                  [queryParams]="{id: item.id}" alt="edit" title="Edit User">
                </a>
                <a><img src="../../assets/delete.png" style="width: 35px;" (click)="deleteConfirmation(item.id)"
                  alt="delete" title="Delete User" >
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" (click)="previous()" class="btn btn-info">Previous</button>
      <span style="margin: 5px;">Page: {{CurrentPage}} of {{TotalPages}}</span>
      <button type="button" (click)="next()" class="btn btn-info">Next</button>
    </div>  
  </div>
</div>
<app-confirmdialog></app-confirmdialog>