<!-- <div style="width:100%; height: 80%;">    
    <table id="dynamic-table" class="table table-stripedtable-hover" style="width:100%; height: 80%;">    
      <ag-grid-angular style="width:100%; height:100%;" class="ag-theme-balham" [columnDefs]="ColumnDefs"    
         [animateRows]="true" [pagination]="true" [paginationPageSize]="10"     
         (gridReady)="BindData($event)">    
      </ag-grid-angular>    
    </table>    
  </div>    -->
  <!-- <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>UserId</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of GridRowData; index as i;">
          <td>{{item.id}}</td>
          <td>{{item.user_id}}</td>
          <td>{{item.title}}</td>
        </tr>  
      </tbody>
    </table>
  </div> -->